{% extends 'layouts/_base.html'%} {% block content %}
<div class="bg-light pt-5">
<div class="pt-5">
  <div id="aboutus" class="about-us text-center section">
    <div class="container">

      <h2 class="fw-bold text-muted">
        About <span class="text-danger">Us</span>
      </h2>
      <span class="line-bar fw-bold">...</span>
      <div class="row">
        <div class="col-lg-6 t-justify about">
          <p>Codefyn is a small web design company based out of Siliguri.Our main focus is to design
             and build websites for
             medium and lower Enterprises,
            .We provides creative
             solutions to all your Bussiness Needs .. We work in technologies like python ,php
             ,laravel ,bootstrap , and many more,</p>
          <p></p>
        </div>

        <div class="col-lg-6">
          <div class="section-heading">
            <div class="row">
              <div class="col-lg-6 mb-5 text-center">
                <div class="fact-item">
                  <div class="icon">
                    <div class="feature-icon bg-red-gradient me-3">
                      <i class="bi bi-globe"></i>
                    </div>
                    <div class="count-title"><h4>Years of Exprience</h4></div>
                    <div class="bg-red-gradient text-white">4+</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 mb-5 text-center">
                <div class="fact-item">
                  <div class="count-area-content">
                    <div class="icon">
                      <div class="feature-icon bg-red-gradient me-3">
                        <i class="bi bi-globe"></i>
                      </div>
                      <div class="count-title"><h4>Google Rating</h4></div>
                      <div class="bg-red-gradient text-white">4.8</div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- End About Us -->

{% endblock %}
