{% extends 'layouts/_base.html'%} {% block content %}
<div class="container">
<div class="tcontainer">
<div class="p-4 m-3 t-justify">
  <h1>Disclaimer</h1>

  <p>The information provided by Codefyn ("Company", "we", "our", "us") on our website and through our web development services is for general informational purposes only. All information on the site and in our services is provided in good faith, however, we make no representation or warranty of any kind, express or implied, regarding the accuracy, adequacy, validity, reliability, availability, or completeness of any information on the site or in our services.</p>

  <h2>1. Professional Advice</h2>
  <p>The website may contain links to external websites or content belonging to or originating from third parties. Such external links are not investigated, monitored, or checked for accuracy, adequacy, validity, reliability, availability, or completeness by us. We do not warrant, endorse, guarantee, or assume responsibility for the accuracy or reliability of any information offered by third-party websites linked through the site or any website or feature linked in any banner or other advertising.</p>

  <h2>2. Third-Party Links</h2>
  <p>We are not responsible for any third-party links, services, products, or content available through third-party sites. The inclusion of any link does not imply endorsement by us of the site. Use of any such linked website is at your own risk.</p>

  <h2>3. No Liability</h2>
  <p>Under no circumstance shall we have any liability to you for any loss or damage of any kind incurred as a result of the use of the site or reliance on any information provided on the site. Your use of the site and your reliance on any information on the site is solely at your own risk.</p>

  <h2>4. Contact Information</h2>
  <p>If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at <a href="mailto:info@codefyn.com">info@codefyn.com</a>.</p>

</div>
</div>
</div>
{% endblock %}
