{% extends 'layouts/_base.html'%} {% block content %}

<!-- Header -->
<header class="p-custom-header">
  <div class="container">
      <h1>Latest Designs Showcase</h1>
      <p class="text-white">Explore our most recent designs in website development.</p>
  </div>
</header>

<!-- Main content -->
<main class="container my-5">
  <div class="row g-4">
      <!-- Design Boxes -->
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-1.jpg" class="card-img-top" alt="Design 1">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-2.jpg" class="card-img-top" alt="Design 2">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-3.jpg" class="card-img-top" alt="Design 3">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-4.jpg" class="card-img-top" alt="Design 4">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-5.jpg" class="card-img-top" alt="Design 5">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-6.jpg" class="card-img-top" alt="Design 6">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-6.jpg" class="card-img-top" alt="Design 7">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-7.jpg" class="card-img-top" alt="Design 8">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-8.jpg" class="card-img-top" alt="Design 9">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-9.jpg" class="card-img-top" alt="Design 10">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-10.jpg" class="card-img-top" alt="Design 11">
          </div>
      </div>
      <div class="col-md-4 col-sm-6">
          <div class="card design-card">
              <img src="/static/codefyn-5.0/images/projects/project-11.jpg" class="card-img-top" alt="Design 12">
          </div>
      </div>
  </div>
</main>
<!-- -->
{% endblock %}
