{% extends 'layouts/_base.html'%} {% block content %}
<div class="container">
<div class="tcontainer">
<div class="py-3 my-2 t-justify">
    <h1>Privacy Policy</h1>
    <p>Last updated: [08:08:2024]</p>

    <p>Welcome to Codefyn. This Privacy Policy outlines our practices regarding the collection, use, and disclosure of your information when you use our website and services.</p>

    <h2>Information We Collect</h2>
    <p>We may collect and process the following information:</p>
    <ul>
        <li>Personal identification information (Name, email address, phone number, etc.)</li>
        <li>Usage data (e.g., pages visited, time spent on pages, etc.)</li>
        <li>Technical data (e.g., IP address, browser type, etc.)</li>
    </ul>


    <h2>How We Use Your Information</h2>
    <p>Codefyn may use the collected data for various purposes:</p>
    <ul>
        <li>To provide and maintain our service</li>
        <li>To notify you about changes to our service</li>
        <li>To provide customer support</li>
        <li>To gather analysis or valuable information so that we can improve our service</li>
        <li>To monitor the usage of our service</li>
    </ul>


    <h2>Disclosure of Your Information</h2>
    <p>We may share your personal information in the following situations:</p>
    <ul>
        <li>With service providers to monitor and analyze the use of our service</li>
        <li>To comply with a legal obligation</li>
        <li>To protect and defend the rights or property of Codefyn</li>
    </ul>


    <h2>Security of Your Information</h2>
    <p>The security of your information is important to us, but remember that no method of transmission over the Internet or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your personal information, we cannot guarantee its absolute security.</p>

    <h2>Your Data Protection Rights</h2>
    <p>Depending on your location, you may have the following rights regarding your personal information:</p>
    <ul>
        <li>The right to access – You have the right to request copies of your personal data.</li>
        <li>The right to rectification – You have the right to request that we correct any information you believe is inaccurate.</li>
        <li>The right to erasure – You have the right to request that we erase your personal data, under certain conditions.</li>
    </ul>


    <h2>Changes to This Privacy Policy</h2>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>


    <h2>Contact Us</h2>
    <p>If you have any questions about this Privacy Policy, please contact us:</p>
    <p>Email: <a href="mailto:info@codefyn.com">info@codefyn.com</a></p>

</div>
</div>
</div>
{% endblock %}