{% extends 'layouts/_base.html'%} {% block content %}

<!-- services -->
<div class="bg-light pt-2 pb-3 pt-5">
  <div class="container text-center">
    <div class="row">
      <h2 class="fw-bold text-dark">
        Our <span class="text-primary">Designs</span>
      </h2>
      <h5>
        WE <span class="text-warning"> DELIVER </span> QUALITY
        <span class="text-danger px-2">SERVICES</span>
        <span class="text-warning"
          >WITH<span class="text-muted px-1"> PROFESSIONALS</span>
          <span class="line-bar fw-bold">...</span></span
        >
      </h5>

      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w1.png" />
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w2.jpg" />
          </div>
        </div>
        </div>
        <!-- end -->
        <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w3.jpg" />
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w4.jpg" />
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w5.jpg" />
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w6.jpg" />
          </div>
        </div>
        </div>
        <!-- end -->
        <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w7.jpg" />
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w8.jpg" />
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w9.jpg" />
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w10.jpg" />
          </div>
        </div>
        </div>
        <!-- end -->
        <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w11.jpg" />
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box pt-4">
            <img src="/static/codefyn-5.0/images/works/w12.jpg" />
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w13.jpg" />
          </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w14.jpg" />
          </div>
        </div>
        </div>

        <!-- end -->
        <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box pt-4">
            <img src="/static/codefyn-5.0/images/works/w15.jpg" />
          </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w16.jpg" />
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w11.jpg" />
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w12.jpg" />
          </div>
        </div>
        </div>
        <!-- end -->
        <div class="row mb-3">
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w13.jpg" />
          </div>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="card shadow work-box">
            <img src="/static/codefyn-5.0/images/works/w2.jpg" />
          </div>
        </div>
      </div>
      <!-- end -->
    </div>
  </div>
</div>

<!-- -->
{% endblock %}
