{% extends 'layouts/_base.html'%} {% block content %}

<!-- features-->
<section class="services" id="services">
  <div class="container">
    <div class="section-heading text-center">
      <h2>
        <span class="text-muted">We Have Expertise </span>
        <span class="text-danger"> as an </span>
        <span class="text-warning"> Innovative Corporate </span
        ><span class="text-dark"> Web Designing </span>
      </h2>
      <h5 class="text-muted">
        GET A GREATER PERFORMANCE WEBSITE FOR YOUR SMALL & MEDIUM ENTERPRISE
      </h5>
      <span class="line-bar fw-bold mb-5">...</span>
    </div>

    <!-- End Feartures -->

    <div class="row">
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="img-container">
            <div class="first">
              <div class="d-flex justify-content-between align-items-center">
                <span class="discount">-10%</span>
                <!-- <span class="wishlist"><i class="fa fa-heart-o"></i></span> -->
              </div>
            </div>
            <img
              src="/static/codefyn-5.0/images/services/products/hostel.svg"
              class="img-fluid rounded thumbnail-image"
            />
          </div>
          <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="product-name">Hotels</h5>
              <div class="d-flex flex-column mb-2">
                <span class="new-price">₹4799</span>
                <small class="old-price text-right">₹5999</small>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between align-items-center pt-1">
              <div class="color-select d-flex">
                <input type="button" name="grey" class="btn creme" />
                <input type="button" name="red" class="btn red ml-2" />
                <input type="button" name="blue" class="btn blue ml-2" />
              </div>
              <div class="d-flex">
                <span class="item-size mr-2 btn" type="button">S</span>
                <span class="item-size mr-2 btn" type="button">M</span>
                <span class="item-size btn" type="button">L</span>
              </div>
            </div> -->
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div>
                <i class="bi bi-star-fill text-warning rating-star"></i>
                <span class="rating-number">4.8</span>
              </div>
              <a href="{% url 'services:corporate_pack_detail' %}">
                <span class="buy">Check Now</span></a
              >
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="card voutchers">
            <div class="voutcher-divider">
              <div class="voutcher-left text-center">
                <span class="voutcher-name">Startup</span>
                <h5 class="voutcher-code">#STARTUP20</h5>
              </div>
              <div class="voutcher-right text-center border-left">
                <h5 class="discount-percent">10%</h5>
                <span class="off">Off</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="img-container">
            <div class="first">
              <div class="d-flex justify-content-between align-items-center">
                <span class="discount">-10%</span>
                <!-- <span class="wishlist"><i class="bi bi-heart"></i></span> -->
              </div>
            </div>
            <img
              src="/static/codefyn-5.0/images/services/products/hospital.svg"
              class="img-fluid rounded thumbnail-image"
            />
          </div>
          <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="product-name">Hospital</h5>
              <div class="d-flex flex-column mb-2">
                <span class="new-price">₹4799</span>
                <small class="old-price text-right">₹5999</small>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between align-items-center pt-1">
              <div class="color-select d-flex">
                <input type="button" name="grey" class="btn creme" />
                <input
                  type="button"
                  name="darkblue"
                  class="btn darkblue ml-2"
                />
              </div>
              <div class="d-flex">
                <span class="item-size mr-2 btn" type="button">S</span>
                <span class="item-size mr-2 btn" type="button">M</span>
                <span class="item-size btn" type="button">L</span>
              </div>
            </div> -->
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div>
                <i class="bi bi-star-fill text-warning rating-star"></i>
                <span class="rating-number">4.8</span>
              </div>
              <a href="{% url 'services:corporate_pack_detail' %}">
                <span class="buy">Check Now</span></a
              >
            </div>
          </div>
        </div>
        <!--  -->
        <div class="mb-3">
          <div class="card voutchers">
            <div class="voutcher-divider">
              <div class="voutcher-left text-center">
                <span class="voutcher-name">Startup</span>
                <h5 class="voutcher-code">#STARTUP20</h5>
              </div>
              <div class="voutcher-right text-center border-left">
                <h5 class="discount-percent">10%</h5>
                <span class="off">Off</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="img-container">
            <div class="first">
              <div class="d-flex justify-content-between align-items-center">
                <span class="discount">-10%</span>
                <!-- <span class="wishlist"><i class="bi bi-heart"></i></span> -->
              </div>
            </div>
            <img
              src="/static/codefyn-5.0/images/services/products/hostel.svg"
              class="img-fluid rounded thumbnail-image"
            />
          </div>
          <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between">
              <h5 class="product-name">Hostel</h5>
              <div class="d-flex flex-column mb-2">
                <span class="new-price">₹4799</span>
                <small class="old-price text-right">₹5999</small>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between align-items-center pt-1">
              <div class="color-select d-flex">
                <input type="button" name="grey" class="btn creme" />
                <input type="button" name="yellow" class="btn yellow ml-2" />
                <input type="button" name="blue" class="btn blue ml-2" />
              </div>
              <div class="d-flex">
                <span class="item-size mr-2 btn" type="button">S</span>
                <span class="item-size mr-2 btn" type="button">M</span>
                <span class="item-size btn" type="button">L</span>
              </div>
            </div> -->
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div>
                <i class="bi bi-star-fill text-warning rating-star"></i>
                <span class="rating-number">4.2</span>
              </div>
              <a href="{% url 'services:corporate_pack_detail' %}">
                <span class="buy">Check Now</span></a
              >
            </div>
          </div>
        </div>
        <!--  -->
        <div class="">
          <div class="card voutchers">
            <div class="voutcher-divider">
              <div class="voutcher-left text-center">
                <span class="voutcher-name">Startup</span>
                <h5 class="voutcher-code">#STARTUP20</h5>
              </div>
              <div class="voutcher-right text-center border-left">
                <h5 class="discount-percent">10%</h5>
                <span class="off">Off</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="img-container">
            <div class="first">
              <div class="d-flex justify-content-between align-items-center">
                <span class="discount">-10%</span>
                <!-- <span class="wishlist"><i class="bi bi-heart"></i></span> -->
              </div>
            </div>
            <img
              src="/static/codefyn-5.0/images/services/products/gesthouse.svg"
              class="img-fluid rounded thumbnail-image"
            />
          </div>
          <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between">
              <h5 class="product-name">Guesthouse</h5>
              <div class="d-flex flex-column mb-2">
                <span class="new-price">₹4799</span>
                <small class="old-price text-right">₹5999</small>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between align-items-center pt-1">
              <div class="color-select d-flex">
                <input type="button" name="grey" class="btn creme" />
                <input type="button" name="red" class="btn red ml-2" />
                <input type="button" name="blue" class="btn blue ml-2" />
              </div>
              <div class="d-flex">
                <span class="item-size mr-2 btn" type="button">S</span>
                <span class="item-size mr-2 btn" type="button">M</span>
                <span class="item-size btn" type="button">L</span>
              </div>
            </div> -->
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div>
                <i class="bi bi-star-fill text-warning rating-star"></i>
                <span class="rating-number">3.8</span>
              </div>
              <a href="{% url 'services:corporate_pack_detail' %}">
                <span class="buy">Check Now</span></a
              >
            </div>
          </div>
        </div>
        <!--  -->
        <div class="">
          <div class="card voutchers">
            <div class="voutcher-divider">
              <div class="voutcher-left text-center">
                <span class="voutcher-name">Startup</span>
                <h5 class="voutcher-code">#STARTUP20</h5>
              </div>
              <div class="voutcher-right text-center border-left">
                <h5 class="discount-percent">10%</h5>
                <span class="off">Off</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END -->

    <!-- End Feartures -->

    <div class="row mt-5">
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="img-container">
            <div class="first">
              <div class="d-flex justify-content-between align-items-center">
                <span class="discount">-10%</span>
                <!-- <span class="wishlist"><i class="fa fa-heart-o"></i></span> -->
              </div>
            </div>
            <img
              src="/static/codefyn-5.0/images/services/products/realstate.svg"
              class="img-fluid rounded thumbnail-image"
            />
          </div>
          <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="product-name">Realstate</h5>
              <div class="d-flex flex-column mb-2">
                <span class="new-price">₹4799</span>
                <small class="old-price text-right">₹5999</small>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between align-items-center pt-1">
              <div class="color-select d-flex">
                <input type="button" name="grey" class="btn creme" />
                <input type="button" name="red" class="btn red ml-2" />
                <input type="button" name="blue" class="btn blue ml-2" />
              </div>
              <div class="d-flex">
                <span class="item-size mr-2 btn" type="button">S</span>
                <span class="item-size mr-2 btn" type="button">M</span>
                <span class="item-size btn" type="button">L</span>
              </div>
            </div> -->
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div>
                <i class="bi bi-star-fill text-warning rating-star"></i>
                <span class="rating-number">4.8</span>
              </div>
              <a href="{% url 'services:corporate_pack_detail' %}">
                <span class="buy">Check Now</span></a
              >
            </div>
          </div>
        </div>
        <div class="mb-3">
          <div class="card voutchers">
            <div class="voutcher-divider">
              <div class="voutcher-left text-center">
                <span class="voutcher-name">Startup</span>
                <h5 class="voutcher-code">#STARTUP20</h5>
              </div>
              <div class="voutcher-right text-center border-left">
                <h5 class="discount-percent">10%</h5>
                <span class="off">Off</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="img-container">
            <div class="first">
              <div class="d-flex justify-content-between align-items-center">
                <span class="discount">-10%</span>
                <!-- <span class="wishlist"><i class="bi bi-heart"></i></span> -->
              </div>
            </div>
            <img
              src="/static/codefyn-5.0/images/services/products/school.svg"
              class="img-fluid rounded thumbnail-image"
            />
          </div>
          <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between align-items-center">
              <h5 class="product-name">School/College</h5>
              <div class="d-flex flex-column mb-2">
                <span class="new-price">₹4799</span>
                <small class="old-price text-right">₹5999</small>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between align-items-center pt-1">
              <div class="color-select d-flex">
                <input type="button" name="grey" class="btn creme" />
                <input
                  type="button"
                  name="darkblue"
                  class="btn darkblue ml-2"
                />
              </div>
              <div class="d-flex">
                <span class="item-size mr-2 btn" type="button">S</span>
                <span class="item-size mr-2 btn" type="button">M</span>
                <span class="item-size btn" type="button">L</span>
              </div>
            </div> -->
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div>
                <i class="bi bi-star-fill text-warning rating-star"></i>
                <span class="rating-number">4.8</span>
              </div>
              <a href="{% url 'services:corporate_pack_detail' %}">
                <span class="buy">Check Now</span></a
              >
            </div>
          </div>
        </div>
        <!--  -->
        <div class="mb-3">
          <div class="card voutchers">
            <div class="voutcher-divider">
              <div class="voutcher-left text-center">
                <span class="voutcher-name">Startup</span>
                <h5 class="voutcher-code">#STARTUP20</h5>
              </div>
              <div class="voutcher-right text-center border-left">
                <h5 class="discount-percent">10%</h5>
                <span class="off">Off</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="img-container">
            <div class="first">
              <div class="d-flex justify-content-between align-items-center">
                <span class="discount">-10%</span>
                <!-- <span class="wishlist"><i class="bi bi-heart"></i></span> -->
              </div>
            </div>
            <img
              src="/static/codefyn-5.0/images/services/products/library.svg"
              class="img-fluid rounded thumbnail-image"
            />
          </div>
          <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between">
              <h5 class="product-name">Library</h5>
              <div class="d-flex flex-column mb-2">
                <span class="new-price">₹4799</span>
                <small class="old-price text-right">₹5999</small>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between align-items-center pt-1">
              <div class="color-select d-flex">
                <input type="button" name="grey" class="btn creme" />
                <input type="button" name="yellow" class="btn yellow ml-2" />
                <input type="button" name="blue" class="btn blue ml-2" />
              </div>
              <div class="d-flex">
                <span class="item-size mr-2 btn" type="button">S</span>
                <span class="item-size mr-2 btn" type="button">M</span>
                <span class="item-size btn" type="button">L</span>
              </div>
            </div> -->
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div>
                <i class="bi bi-star-fill text-warning rating-star"></i>
                <span class="rating-number">4.2</span>
              </div>
              <a href="{% url 'services:corporate_pack_detail' %}">
                <span class="buy">Check Now</span></a
              >
            </div>
          </div>
        </div>
        <!--  -->
        <div class="">
          <div class="card voutchers">
            <div class="voutcher-divider">
              <div class="voutcher-left text-center">
                <span class="voutcher-name">Startup</span>
                <h5 class="voutcher-code">#STARTUP20</h5>
              </div>
              <div class="voutcher-right text-center border-left">
                <h5 class="discount-percent">10%</h5>
                <span class="off">Off</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end -->
      <div class="col-6 col-md-3">
        <div class="card">
          <div class="img-container">
            <div class="first">
              <div class="d-flex justify-content-between align-items-center">
                <span class="discount">-10%</span>
                <!-- <span class="wishlist"><i class="bi bi-heart"></i></span> -->
              </div>
            </div>
            <img
              src="/static/codefyn-5.0/images/services/products/organization.svg"
              class="img-fluid rounded thumbnail-image"
            />
          </div>
          <div class="product-detail-container p-2">
            <div class="d-flex justify-content-between">
              <h5 class="product-name">NGO</h5>
              <div class="d-flex flex-column mb-2">
                <span class="new-price">₹4799</span>
                <small class="old-price text-right">₹5999</small>
              </div>
            </div>
            <!-- <div class="d-flex justify-content-between align-items-center pt-1">
              <div class="color-select d-flex">
                <input type="button" name="grey" class="btn creme" />
                <input type="button" name="red" class="btn red ml-2" />
                <input type="button" name="blue" class="btn blue ml-2" />
              </div>
              <div class="d-flex">
                <span class="item-size mr-2 btn" type="button">S</span>
                <span class="item-size mr-2 btn" type="button">M</span>
                <span class="item-size btn" type="button">L</span>
              </div>
            </div> -->
            <div class="d-flex justify-content-between align-items-center pt-1">
              <div>
                <i class="bi bi-star-fill text-warning rating-star"></i>
                <span class="rating-number">3.8</span>
              </div>
              <a href="{% url 'services:corporate_pack_detail' %}">
                <span class="buy">Check Now</span></a
              >
            </div>
          </div>
        </div>
        <!--  -->
        <div class="">
          <div class="card voutchers">
            <div class="voutcher-divider">
              <div class="voutcher-left text-center">
                <span class="voutcher-name">Startup</span>
                <h5 class="voutcher-code">#STARTUP20</h5>
              </div>
              <div class="voutcher-right text-center border-left">
                <h5 class="discount-percent">10%</h5>
                <span class="off">Off</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END -->
  </div>

  <!-- end -->
</section>
{% endblock %}
