{% extends 'layouts/_base.html'%} {% block content %}
<div class="bg-light">
  <div class="container">
    <div class="text-center pt-5">
      <h2 class="fw-bold text-muted">
        Our <span class="text-warning">E-Commerce</span>
        <span class="text-danger">Packages</span>
      </h2>
      <span class="line-bar fw-bold">...</span>
    </div>
    <!--  carousel start -->

    <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="ex3-tab-1"
          data-bs-toggle="tab"
          href="#ex3-tabs-1"
          role="tab"
          aria-controls="ex3-tabs-1"
          aria-selected="true"
          >Starter Pack</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="ex3-tab-2"
          data-bs-toggle="tab"
          href="#ex3-tabs-2"
          role="tab"
          aria-controls="ex3-tabs-2"
          aria-selected="false"
          >Extended Pack</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="ex3-tab-3"
          data-bs-toggle="tab"
          href="#ex3-tabs-3"
          role="tab"
          aria-controls="ex3-tabs-3"
          aria-selected="false"
          >Pros Pack</a
        >
      </li>
    </ul>

    <div class="tab-content" id="ex2-content">
      <div
        class="tab-pane fade show active"
        id="ex3-tabs-1"
        role="tabpanel"
        aria-labelledby="ex3-tab-1"
      >
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-9 bg-white rounded-5 shadow-sm p-1">
              <!-- st -->
              <div class="row m-0">
                <div class="col-lg-3 left-side-product-box pb-3">
                  <img
                    src="/static/codefyn-5.0/images/services/price/webbuild.svg"
                    height="200"
                  />
                </div>
                <div class="col-lg-9">
                  <div class="right-side-pro-detail border rounded-5 p-3 m-0">
                    <div class="row">
                      <div class="col-lg-12">
                        <h2>Stater Pack</h2>
                      </div>
                    </div>
                    <!-- discount -->

                    <!--end  -->
                    <div class="col-lg-12">
                      <p class="m-0 p-0 price-pro prices ms-3 mb-2">₹4799.00</p>
                      <hr class="p-0 m-0" />
                    </div>
                    <hr class="m-0 pt-2 mt-2" />
                    <div class="col-lg-12 pt-2">
                      <h5>Product Detail</h5>
                      <span class="t-justify"
                        >Our Starter website pack comes with full responsive
                        mobile and tablet ready Modern websites..</span
                      >
                    </div>
                    <div class="col-lg-12">
                      <p class="tag-section">
                        <strong>→ Excellent Responsive Website. </strong><br />
                        <strong>→ 5 Business Email IDs.</strong><br />
                        <strong>→ 1-5 Web Pages.</strong><br />
                        <strong>→ Free Maintenance for 7 Days.</strong><br />
                        <strong>✡ Note: All Cost Excluding 18% GST</strong>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- end -->

            <div class="col-md-3 col-lg-3">
              <div class="bg-white rounded-5 p-1">
                <img src="/static/codefyn-5.0/images/care/care.png" />
                <div class="mb-2">
                  <a
                    class="btn-red text-center w-100"
                    href="{% url 'Home:project_discuss' %}"
                    type="submit"
                  >
                    <i class="bi bi-send-check me-2"></i> Get a Free Quote!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
      <!-- end 2 -->
      <div
        class="tab-pane fade"
        id="ex3-tabs-2"
        role="tabpanel"
        aria-labelledby="ex3-tab-2"
      >
        <!-- starter -->
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-9 bg-white rounded-5 shadow-sm p-1">
              <!-- st -->
              <div class="row m-0">
                <div class="col-lg-3 left-side-product-box pb-3">
                  <img
                    src="/static/codefyn-5.0/images/services/price/webbuild.svg"
                    height="200"
                  />
                </div>
                <div class="col-lg-9">
                  <div class="right-side-pro-detail border rounded-5 p-3 m-0">
                    <div class="row">
                      <div class="col-lg-12">
                        <h2>Extended Pack</h2>
                      </div>
                    </div>
                    <!-- discount -->

                    <!--end  -->
                    <div class="col-lg-12">
                      <p class="m-0 p-0 price-pro prices ms-3 mb-2">
                        ₹18999.00
                      </p>
                      <hr class="p-0 m-0" />
                    </div>
                    <hr class="m-0 pt-2 mt-2" />
                    <div class="col-lg-12 pt-2">
                      <h5>Product Detail</h5>
                      <span class="t-justify"
                        >Our Extended website pack comes with full responsive
                        mobile and tablet ready Modern websites..</span
                      >
                    </div>
                    <!-- st -->
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="tag-section">
                            <strong>→ Excellent Responsive Website. </strong
                            ><br />
                            <strong>→ Free Web Hosting for 1-Year. </strong
                            ><br />
                            <strong>→ 10 Business Email IDs.</strong><br />
                            <strong>→ 1-5 Web Pages.</strong><br />
                            <strong>→ Free Maintenance for 1 Month.</strong
                            ><br />
                            <strong>✡ Note: Extra Work Extra Charge.</strong>
                          </p>
                        </div>
                        <!-- end -->
                        <div class="col-md-6">
                          <p class="tag-section">
                            <strong>→ Free Domain for 1-Year </strong><br />
                            <strong>→ SSL for 1-Year </strong><br />
                            <strong>→ Social Media Page Integration.</strong
                            ><br />
                            <strong>→ Whatsapp Chat Integration.</strong><br />
                            <strong>→ Enquiry Receiving through email.</strong
                            ><br />
                            <strong>✡ Note: All Cost Excluding 18% GST</strong>
                          </p>
                        </div>
                      </div>
                    </div>

                    <!-- end -->
                  </div>
                </div>
              </div>
            </div>

            <!-- end -->

            <div class="col-md-3 col-lg-3">
              <div class="bg-white rounded-5 p-1">
                <img src="/static/codefyn-5.0/images/care/care.png" />
                <div class="mb-2">
                  <a
                    class="btn-red text-center w-100"
                    href="{% url 'Home:project_discuss' %}"
                    type="submit"
                  >
                    <i class="bi bi-send-check me-2"></i> Get a Free Quote!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- starter -->
      </div>
      <div
        class="tab-pane fade"
        id="ex3-tabs-3"
        role="tabpanel"
        aria-labelledby="ex3-tab-3"
      >
        <!-- start -->
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-9 bg-white rounded-5 shadow-sm p-1">
              <!-- st -->
              <div class="row m-0">
                <div class="col-lg-3 left-side-product-box pb-3">
                  <img
                    src="/static/codefyn-5.0/images/services/price/webbuild.svg"
                    height="200"
                  />
                </div>
                <div class="col-lg-9">
                  <div class="right-side-pro-detail border rounded-5 p-3 m-0">
                    <div class="row">
                      <div class="col-lg-12">
                        <h2>Pros Pack</h2>
                      </div>
                    </div>
                    <!-- discount -->
                    <!--end  -->
                    <div class="col-lg-12">
                      <p class="m-0 p-0 price-pro prices ms-3 mb-2">
                        ₹28999.00
                      </p>
                      <hr class="p-0 m-0" />
                    </div>
                    <hr class="m-0 pt-2 mt-2" />
                    <div class="col-lg-12 pt-2">
                      <h5>Product Detail</h5>
                      <span class="t-justify"
                        >Our Pros website pack comes with full responsive mobile
                        and tablet ready Modern websites..</span
                      >
                    </div>
                    <!-- st -->
                    <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-6">
                          <p class="tag-section">
                            <strong>→ Excellent Responsive Website. </strong
                            ><br />
                            <strong>→ Free Web Hosting for 1-Year. </strong
                            ><br />
                            <strong>→ Free Logo. </strong><br />
                            <strong>→ 30 Business Email IDs.</strong><br />
                            <strong>→ 1-15 Web Pages.</strong><br />
                            <strong>→ Free Maintenance for 3 Months.</strong
                            ><br />
                            <strong>✡ Note: Extra Work Extra Charge.</strong>
                          </p>
                        </div>
                        <!-- end -->
                        <div class="col-md-6">
                          <p class="tag-section">
                            <strong>→ Free Domain for 1-Year </strong><br />
                            <strong>→ SSL for 1-Year </strong><br />
                            <strong>→ Social Media Page Integration.</strong
                            ><br />
                            <strong>→ Chat Bot Integration.</strong><br />
                            <strong>→ Whatsapp Chat Integration.</strong><br />
                            <strong>→ Payment Option: Cash/Online</strong><br />
                            <strong>✡ Note: All Cost Excluding 18% GST</strong>
                          </p>
                        </div>
                      </div>
                    </div>

                    <!-- end -->
                  </div>
                </div>
              </div>
            </div>

            <!-- end -->

            <div class="col-md-3 col-lg-3">
              <div class="bg-white rounded-5 p-1">
                <img src="/static/codefyn-5.0/images/care/care.png" />

                <div class="mb-2">
                  <a
                    class="btn-red text-center w-100"
                    href="{% url 'Home:project_discuss' %}"
                    type="submit"
                  >
                    <i class="bi bi-send-check me-2"></i>Get a Free Quote!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- start -->
      </div>
    </div>
    <!-- end -->
  </div>
</div>

{% endblock %}
