{% extends 'layouts/_base.html'%} {% block content %}
<!-- slider -->
<section id="slider" class="slider">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-xl-5">
              <div class="text-container">
                <ul class="d-block d-md-none">
                  <li class=""> <marquee behavior="scroll" direction="left">
                    Upto <span class="text-danger">50% </span><span class="text-warning">Discount </span> In Web Development Services...!</marquee>
                  </li>
                </ul>
                  <div class="slider-title">Welcome to Codefyn</div>
                  <h1 class="h1-large"><span class="text-danger">We </span> creates <spam class="text-success">Robust,</spam><span class="text-primary"> Stylish,</span> &
                    <span class="text-warning"> Efficient </span> <span class="text-muted">websites
                  </span><span class="text-info">In <span class="test-success">Best Price</span></h1>
                  <p class="p-large">A Perfect solution
                    for your small & medium business</p>
                  <a class="btnlg" href="tel:+917992200751">Call : + 917992200751 </a>

              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-lg-6 col-xl-7">
              <div class="image-container">
                  <img class="img-fluid" src="/static/codefyn-5.0/images/illustration.svg" alt="alternative">
              </div> <!-- end of image-container -->
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</section> <!-- end of slider -->
<!-- end of slider -->


    <!-- Services -->
    <section id="service">
<div  class="bg-light pt-2 mt-3">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <header class="section-header wow fadeInUp">
          <h2>OUR WEB DEVELOPMENT SERVICES</h2>
          <p>We Deliver quality services with Professionals.</p>
        </header>

        <div class="row mb-3">
          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img
                src="/static/codefyn-5.0/images/services/static.svg"
              />
              <div class="card-body">
                <p class="card-title pb-3">Static Websites</p>
                <a href="{% url 'services:static_sites' %}"  class="button"
                > Check Now</a
              >
              </div>
            </div>
          </div>

          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img src="/static/codefyn-5.0/images/services/dynamic.svg" />
              <div class="card-body">
                <p class="card-title pb-3">Dynamic Website</p>
                <a href="{% url 'services:dynamic_web' %}"  class="button"
                > Check Now</a>

              </div>
            </div>
          </div>
          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img src="/static/codefyn-5.0/images/services/ecom.svg" />
              <div class="card-body">
                <p class="card-title pb-3">E-Commerce</p>
                <a href="{% url 'services:online_stores' %}"  class="button"
                > Check Now</a
                >
              </div>
            </div>
          </div>

          <div class="col-6 col-md-3 mb-3">
            <div class="card shadow service-box">
              <img src="/static/codefyn-5.0/images/services/corporate.svg" />
              <div class="card-body">
                <p class="card-title pb-3">Corporate Website</p>
                <a href="{% url 'services:corporate' %}"  class="button"
                > Check Now</a
                >
              </div>
            </div>
          </div>
          </div>


      </section>
<!-- END -->
<section class="container">
<div class="text-center mt-3 ">
  <h2 class="fw-bold text-muted">
    Our Best <span class="text-primary">Web Design</span> & <span class="text-info">
      Development </span> <span class="test-muted">Services</span>
  </h2>
<div class="t-justify">
For the best mobile responsive and SEO friendly website development services in
India, contact codefyn,. In
contrast, 30% of online small businesses generate more than 25% of their revenue
online, more than 60% of small businesses have websites. Additionally, 31% of
business owners use web design firms. Our dedicated web developers have so far
successfully completed hundreds of website and web application projects for
industries with various business lines. We have created web applications from
the following domains: – E-Commerce Website Design & Development, Finance &
Banking, Content Management Systems, Blogging, Travel, E-Learning, Job Portal,
Retail etc. A company’s website design plays a key role in creating a first
impression on customers. And as a web design company, we totally get it! That’s
why we create innovative designs while using quality web development strategies
so you can be sure you’ll stay ahead of the competition. Call us for a FREE
website consultation to find out what websites you need to build your business
faster and with less effort. For the best website development services in India,
contact Codefyn today.
</div>
</div>
<div class="text-start mt-4">
<div class="row">
  <div class="col-md-6">
   <div class="shadow-sm p-3 mb-2 bg-white rounded">
    <img class="icon me-4" src="/static/codefyn-5.0/images/services/domain.png" />
     Domain & Hosting Services
  </div>
  </div>
  <div class="col-md-6">
    <div class="shadow-sm p-3 mb-2 bg-white rounded">
      <img class="icon me-4" src="/static/codefyn-5.0/images/services/webdevlop.png" />
      Website Designing & Development Service
    </div>
    </div>
</div>
<!--  -->
<div class="row">
  <div class="col-md-6">
    <div class="shadow-sm p-3 mb-2 bg-white rounded">
      <img class="icon me-4" src="/static/codefyn-5.0/images/services/responsive.png" />
       100% Responsive Web Design
    </div>
    </div>
  <div class="col-md-6">
    <div class="shadow-sm p-3 mb-2 bg-white rounded">
      <img class="icon me-4" src="/static/codefyn-5.0/images/services/corporate.png" />
    Corporate Web Design & Development
  </div>
 </div>
</div>
<!--  -->
<div class="row">
  <div class="col-md-6">
    <div class="shadow-sm p-3 mb-2 bg-white rounded">
      <img class="icon me-4" src="/static/codefyn-5.0/images/services/wordpressweb.png" />
    WordPress Website Development
  </div>
  </div>
  <div class="col-md-6">
    <div class="shadow-sm p-3 mb-2 bg-white rounded">
      <img class="icon me-4" src="/static/codefyn-5.0/images/services/ecommerce.png" />
      Ecommerce Website Development
  </div>
</div>
</div>
<!--  -->
<div class="row">
  <div class="col-md-6">
    <div class="shadow-sm p-3 mb-2 bg-white rounded">
      <img class="icon me-4" src="/static/codefyn-5.0/images/services/cmsweb.png" />
    CMS Website Design & Web Development
  </div>
  </div>
  <div class="col-md-6">
    <div class="shadow-sm p-3 mb-2 bg-white rounded">
      <img class="icon me-4" src="/static/codefyn-5.0/images/services/dweb.png" />
    Dynamic Website Design & Development
  </div>
  </div>
</div>
<!--  -->
<div class="row">
  <div class="col-md-6">
    <div class="shadow-sm p-3 mb-2 bg-white rounded">
      <img class="icon me-4" src="/static/codefyn-5.0/images/services/dweb.png" />
      Payment Gateway Integration
  </div>
  </div>
  <div class="col-md-6">
    <div class="shadow-sm p-3 mb-2 bg-white rounded">
      <img class="icon me-4" src="/static/codefyn-5.0/images/services/webre.png" />
      Website Redesign Service
    </div>
    </div>
   </div>
<!-- end -->

<!-- END -->
  </section>


<!-- End Feartures -->


<!-- end -->
</div>
</div>
</div>
</div>
<!-- -->
{% endblock %}
