{% extends 'layouts/base_dash.html'%} {% block content %}

<main class="main-content">
  <div class="bg-light">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1"
    >
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'staff' %}">Dashboard</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {% if pagename %}{{pagename}}{% endif %}
          </li>
        </ol>
      </nav>
      <div class="btn-toolbar mb-2 me-1 mb-md-1">
        <div class="">
          <form method="POST" action="{% url 'brand_list' %}">
            {% load crispy_forms_tags %} {% csrf_token %}
            <div class="row g-2">
              <div class="col-md">{{ form.startdate }}</div>
              <div class="col-md">{{ form.enddate }}</div>
              <div class="col-md">
                <button type="submit" value="filter" class="btn btn-primary">
                  <i class="bi bi-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="btn-group">
        <a
          href="{% url 'brand_create'%}"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          title="Create"
          type="button"
          class="btn btn-pink"
        >
          <i class="bi bi-plus-circle"></i> Add</a
        >
        <button
          type="button"
          class="btn btn-orange dropdown-toggle"
          data-bs-toggle="dropdown"
          data-bs-display="static"
          aria-expanded="false"
        >
          <i class="bi bi-card-text mr10"></i> Export
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end">
          <li>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Export PDF All"
              href="{% url 'brand_export_pdf_all'%}"
              class="dropdown-item"
              type="button"
              >Export PDF All</a
            >
          </li>
          <li>
            <a
              data-bs-toggle="tooltip"
              data-bs-placement="bottom"
              title="Export CSV"
              href="{% url 'brand_export_csv'%}"
              class="dropdown-item"
              type="button"
              >Export CSV
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Dashboard Counts Section-->
    <div class="card box-lg">
      <div class="row">
        <div class="w-100">
          <table
            id="table"
            class="table table-bordered border-secondary table-hover"
          >
            <thead class="alert-success">
              <tr>
                <th width="1%" scope="col">S.No:</th>
                <th width="45%" scope="col">Brand Logo</th>
                <th width="45%" scope="col">Brand Name</th>
                <th width="2%" scope="col">Actions</th>
                <th width="2%" scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                {% if brand %} {% for brand in brand %}

                <th scope="row">{{ forloop.counter }}</th>

                <td>
                  <img
                    src="{{ brand.pic.url }}"
                    style="
                      width: 40px;
                      height: 40px;
                      text-align: center;
                      border-radius: 100%;
                    "
                  />
                </td>

                <td>{{ brand.name }}</td>

                <td>
                  <a
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="view"
                    class="btn btn-info btn-sm rounded-circle"
                    href="{{ brand.get_absolute_url }}"
                    ><i class="bi bi-eye text-white"></i
                  ></a>
                  <a
                    data-bs-toggle="tooltip"
                    data-bs-placement="bottom"
                    title="update"
                    class="btn btn-warning btn-sm rounded-circle"
                    href="{{brand.get_absolute_url }}/update"
                    ><i class="bi bi-pencil-square text-white"></i
                  ></a>
                </td>
                <td>
                  <form
                    method="POST"
                    action="{{ brand.get_absolute_url }}/delete"
                  >
                    {% csrf_token %}
                    <input name="_method" type="hidden" value="DELETE" />
                    <button
                      data-bs-toggle="tooltip"
                      data-bs-placement="bottom"
                      title="Delete"
                      class="btn btn-danger btn-sm rounded-circle"
                      type="submit"
                      onclick="confirmFunction()"
                    >
                      <i class="bi bi-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endfor %} {% else %}
              <div class="alert-danger">No data to display</div>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!--end-->

  {% endblock %}
</main>
