
{% extends 'layouts/base_dash.html'%}
{% block content %}
<main class="main-content">
  <div class="bg-light">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center  
     pb-1">
       <h1 class="h4 ms-2">{% if pagename %}{{pagename}}{% endif %}</h1>
       <div class="btn-toolbar mb-2 me-1 mb-md-1">
         <div class="btn-group me-1">
           <a  href="{% url 'oc_list'%}"   type="button" class="btn  btn-warning"><i class="bi bi-arrow-left"></i> Back</a>
         </div>
       </div>
      </div>
   
<!-- Dashboard Counts Section-->
    <div class="card box-lg">
        <div class="row">
          <div class="w-100">
            <h3 class="text-center text-muted">Our Clients Details</h3>
            <hr>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Client Name</th>
                  <th scope="col">Review</th>
                </thead>
              <tbody>
                <tr>
                  <td>{{ oc.name }}</td>
                  <td>{{ oc.review }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--wrapper end-->

{% endblock %}

    
