{% extends 'base.html' %}
{% block content %}

    <style>

      .form-style{
 
     width:480px;


      }
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }


      html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  font-weight:700;
  font-size: bold;

}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.image{
  width: 100%;
  max-width: 180px;
  padding: 5px;
  margin: auto;

}
.orange{

  color:#fff;
  background:orangered;
}

    </style>

   
  </head>
  <body class=" text-center ">
    {% if error %}
    {{ error }}
    
    <br/>
    <br/>
    {% endif %}
<main class="form-signin border shadow">
  <form method = "POST" action="{% url 'register' %}">
    {% csrf_token %}
    <div class="image">
    {% load static %}
    <img src="{% static 'fixenix-5.0/images/logo.svg'%}" alt="Fixenix" 
     width="120" height="40">
    </div>
    <h1 class="h3 mb-3 fw-normal">Register</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name='username' placeholder="usename">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mt-3">
      <input type="password" class="form-control" id="floatingPassword" name='password' placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox m-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg orange" type="submit"><i class="fa fa-lock m-2"></i> Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2022 : fixenix.com</p>
  </form>
</div>


</main>


 {% endblock %}