<!-- ======= About Us Section ======= -->

<section id="about">
  <div class="container" data-aos="zoom-in">
    <header class="section-header">
      <h2>About Us</h2>
      <p class="t-justify">
        we are small and medium web designer based out of Siliguri.Our main
        focus is to design and build websites for medium and lower
        Enterprises,company and business, .We provides creative solutions to all
        your Bussiness Needs .
      </p>
    </header>
    <div class="row about-cols">
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
        <div class="about-col">
          <div class="img">
            <img
              src="/static/codefyn-5.0/images/aboutus/mission.jpg"
              alt=""
              class="img-fluid"
            />
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
          </div>
          <h2 class="title">Our Mission</h2>
          <p class="t-justify">
            Being professional web developer. Our mission is to provide
            customer-centric, result-oriented, cost-competitive innovative &
            functional IT Solutions to our valuable clients. We stick to provide
            cheapest and best solutions for bussiness boosting because making
            bussines online should not breake the bank:
          </p>
        </div>
      </div>

      <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
        <div class="about-col">
          <div class="img">
            <img
              src="/static/codefyn-5.0/images/aboutus/plan.jpg"
              alt=""
              class="img-fluid"
            />
            <div class="icon"><i class="bi bi-brightness-high"></i></div>
          </div>
          <h2 class="title"><a href="#">Our Plan</a></h2>
          <p class="t-justify">
            We understand needs and requirements of our clients and make
            technology to resolve it. We believe to explore new opportunities
            that maximizes the business value, consistent growth and
            sustainability. Empower our clients to respond faster and more
            intuitively to changing market dynamics
          </p>
        </div>
      </div>
      <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="about-col">
          <div class="img">
            <img
              src="/static/codefyn-5.0/images/aboutus/vission.jpg"
              alt=""
              class="img-fluid"
            />
            <div class="icon"><i class="bi bi-calendar4-week"></i></div>
          </div>
          <h2 class="title"><a href="#">Our Vision</a></h2>
          <p class="t-justify">
            Our vision is to be the largest web development and service
            provider. Focused on constant innovation as our key for achieving
            the ultimate goal of success and emerge as globally recognized
            company by providing the superior quality and cheapest services and
            solutions.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End About Us Section -->
