<section class="bg-light">
  <div class="container text-center">
    <div class="section-heading">
      <h2 class="text-muted">
        Service <span class="text-warning">Center</span
        ><span class="text-danger"> Locations</span>
      </h2>
      <span class="line-bar fw-bold">...</span>
      <div class="mapouter map">
        <div class="gmap_canvas">
          <iframe
            class="gmap_iframe"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=600&amp;height=300&amp;hl=en&amp;q=fixenix mobile repairing Ward no -42 siliguri&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
