<!-- features-->
<section  id="features">
  <div class="container" data-aos="fade-left">
    <header class="section-header wow fadeInUp">
      <h2>WHY CHOOSE US !</h2>
      <p>We Deliver quality services with Professionals.</p>
    </header>
    <div class="row">
      <div class="col-lg-6"  data-aos="fade-up" data-aos-delay="100">
        <div class="features-item">
          <i class="bi bi-rocket-takeoff"></i>
          <h4>100% Responsive Websites</h4>
          <p>
            All of our templates Designs are Very Fast ,Responsive and SEO
            friendly.
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
        <div class="features-item">
          <i class="bi bi-currency-rupee primary-gradient-color"></i>
          <h4>Affordable Price</h4>
          <p>
            We Provide Low Price Best features to small and medium Business.
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
        <div class="features-item">
          <i class="bi bi-person-video3"></i>
          <h4>100% Satisfaction Guaranteed</h4>
          <p>
            Template are code in such a way which makes it very User friendly.
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="400">
        <div class="features-item">
          <i class="bi bi-phone-flip"></i>
          <h4>Mobile and Tablet ready!</h4>
          <p>
            Our HTML CSS templates are well-tested on mobile, tablet, and
            desktop compatibility.
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
        <div class="features-item">
          <i class="bi bi-telephone-inbound"></i>
          <h4>24 Hrs Support</h4>
          <p>
            Do not be hesitated to contact us if you have any question or
            concern about our templates.
          </p>
        </div>
      </div>
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="600">
        <div class="features-item">
          <i class="bi bi-puzzle"></i>
          <h4>Fully Customizable</h4>
          <p>
            If you have any idea or suggestion about new templates, feel free to
            let us know.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End Feartures -->
