    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer  my-4 wow fadeIn" data-wow-delay="0.1s">
      <div class="container mt-5 pt-2 ">
          <div class="row g-5">
            <div class="col-lg-3">
                <div class="footer-logo-wrapper text-center text-sm-start">
                    <a href="#!">
                      <img
                      class="footer-logo text-center"
                      src="/static/codefyn-5.0/images/msme.png"
                      class="d-inline-block align-text-top mb-2"
                     width="100" 
                     style="filter: brightness(0) invert(1); width:200px;"
                     />
                    </a>
                  </div>
                  <h4 class="text-white my-3 ">MSME Certified</h4>
                <a class="text-white" >UAN No:</a>
                <a class="text-white">WB090025867</a>
            </div>
            
              <div class="col-lg-3">
                  <h4 class="text-white mb-4">Services</h4>
                  <a class="btn btn-link " href="{% url 'services:static_sites' %}">Static Websites</a>
                  <a class="btn btn-link " href="{% url 'services:dynamic_web' %}">Dynamic Website</a>
                  <a class="btn btn-link " href="{% url 'services:online_stores' %}">E-Commerce</a>
                  <a class="btn btn-link " href="{% url 'services:corporate' %}">Corporate Website</a>

              </div>
              <div class="col-lg-3">
                  <h4 class="text-white mb-4">Quick Links</h4>
                  <a class="btn btn-link " href="{% url 'Home:faqs' %}"> FAQ's</a>
                  <a class="btn btn-link " href="{% url 'Home:refund_policy' %}">Refund Policy</a>
                  <a class="btn btn-link " href="{% url 'Home:privacy_policy' %}">Privacy Policy</a>
                  <a class="btn btn-link " href="{% url 'Home:terms_and_conditions' %}">Terms & Condition</a>
                  <a class="btn btn-link " href="{% url 'Home:disclamer' %}">Disclaimer</a>
               
              </div>
              <div class="col-lg-3">
                  <h4 class="text-white mb-4">Find Us</h4>
                  <p class="mb-2 text-white"> <span class="fa-li"><i class="bi bi-geo-alt-fill me-2"></i></span>Prakash Nagar,Siliguri,Wb-734001</p>
                  <p class="mb-2 text-white"><span class="fa-li"><i class="bi-phone me-2"></i></span>+917992200751</p>
                  <p class="mb-2 text-white"><span class="fa-li"><i class="bi-envelope me-2"></i></span>info@codefyn.com</p>
                  <div class="d-flex pt-2">

                      <div class="rounded-social-buttons">
                          <a class="social-button facebook" href="https://www.facebook.com/codefyn/">
                              <i class="bi bi-facebook"></i></a>
                          <a class="social-button youtube" href="https://www.youtube.com/@codefyn/">
                              <i class="bi bi-youtube"></i></a>
                          <a class="social-button instagram" href="https://www.instagram.com/codefyn/">
                              <i class="bi bi-instagram"></i></a>
                      </div>
                    </div>
              </div>
              <!--  -->
              <div class="col-md-12 text-center border-top my-2 py-2 mb-md-0">
                  &copy; <a class="border-bottom text-white " href="#">2024 | Codefyn </a>, All Right Reserved.
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End -->