<!-- how it work -->

<section id="workings">
  <div class="container" data-aos="fade-left">
    <header class="section-header wow fadeInUp">
      <h2>HOW WE WORK!</h2>
      <p>Our Transparent Working Proccess.</p>
    </header>
    <div class="row">
      <div class="col-md-3" data-aos="fade-right" data-aos-delay="100">
        <div class="text-center position-relative">
          <div
            class="step-icon mx-auto bg-primary-gradient border rounded-circle d-flex align-items-center justify-content-center"
            style="width: 120px; height: 120px"
          >
            <i class="bi bi-projector text-white icons"></i>
          </div>
          <h4 class="mt-3 fs-5">Step 1-Project Discussion and Finalization</h4>
          <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0 t-justify">
            Taking Client Requirements and needs of Business.Discussion on every
            points of projects and prices.>
          </p>
          <div
            class="arrow-icon position-absolute d-none d-lg-block"
            style="top: 50px; right: -25px"
          >
            <i class="bi bi-arrow-right fs-1"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3" data-aos="fade-right" data-aos-delay="300">
        <div class="text-center position-relative">
          <div
            class="step-icon mx-auto bg-primary-gradient border rounded-circle d-flex align-items-center justify-content-center"
            style="width: 120px; height: 120px"
          >
            <i class="bi bi-file-earmark-text text-white icons"></i>
          </div>
          <h4 class="mt-3 fs-5">Step 2-Agrements and Paper work</h4>
          <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0 t-justify">
            Agrements between our side and clients side and after doing paper
            work taking important docs for validation.
          </p>
          <div
            class="arrow-icon d-none d-lg-block position-absolute"
            style="top: 50px; right: -25px"
          >
            <i class="bi bi-arrow-right fs-1"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3" data-aos="fade-right" data-aos-delay="500">
        <div class="text-center position-relative">
          <div
            class="step-icon mx-auto bg-primary-gradient border rounded-circle d-flex align-items-center justify-content-center"
            style="width: 120px; height: 120px"
          >
            <i class="bi bi-code-slash text-white icons"></i>
          </div>
          <h4 class="mt-3 fs-5">Step 3-Development Testing & Deployement</h4>
          <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0 t-justify">
            Development and Testing of Codes Done on server .After satisfying We
            Upload it on live server and monitoring is done.
          </p>
          <div
            class="arrow-icon d-none d-lg-block position-absolute"
            style="top: 50px; right: -25px"
          >
            <i class="bi bi-arrow-right fs-1"></i>
          </div>
        </div>
      </div>
      <div class="col-md-3" data-aos="fade-right" data-aos-delay="700">
        <div class="text-center position-relative">
          <div
            class="step-icon mx-auto bg-primary-gradient border rounded-circle d-flex align-items-center justify-content-center"
            style="width: 120px; height: 120px"
          >
            <i class="bi bi-filetype-key text-white icons"></i>
          </div>
          <h4 class="mt-3 fs-5">Step 4-Clients Feedback and Handover</h4>
          <p class="lead text-muted mt-4 fs-5 px-lg-3 mb-5 mb-lg-0 t-justify">
            After taking feedback from clients.We handover all the required
            password and project to clients.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
