  <!-- ======= Our Clients Section ======= -->

  <section  id="portfolio" class="section slider-section">
    <div class="container" data-aos="fade-left">
      <header class="section-header wow fadeInUp">
        <h2>OUR WORKS</h2>
        <p>We Deliver quality services with Professionals.</p>
      </header>
    <div class="container slider-column">
      <div class="swiper swiper-slider">
        <div class="swiper-wrapper">
          <img class="swiper-slide"  src="/static/codefyn-5.0/images/works/sofa.png"  alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/baba.jpg" alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/fixenix.jpg" alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/sofa1.png" alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/sofa2.png" alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/sofa3.png" alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/sofa6.png" alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/w5.jpg"  alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/w6.jpg"  alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/w7.jpg"  alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/w8.jpg"  alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/w9.jpg"  alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/w10.jpg"  alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/w11.jpg"  alt="Swiper">
          <img class="swiper-slide" src="/static/codefyn-5.0/images/works/w12.jpg"  alt="Swiper">
        </div>
        <span class="swiper-pagination"></span>
        <span class="swiper-button-prev"></span>
        <span class="swiper-button-next"></span>
      </div>
    </div>
    </div>
  </section>

  <style>




</style>
<script>
 const swiper = new Swiper(".swiper-slider", {
  // Optional parameters
  centeredSlides: true,
  slidesPerView: 1,
  grabCursor: true,
  freeMode: false,
  loop: true,
  mousewheel: false,
  keyboard: {
    enabled: true
  },

  // Enabled autoplay mode
  autoplay: {
    delay: 3000,
    disableOnInteraction: false
  },

  // If we need pagination
  pagination: {
    el: ".swiper-pagination",
    dynamicBullets: false,
    clickable: true
  },

  // If we need navigation
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev"
  },

  // Responsive breakpoints
  breakpoints: {
    640: {
      slidesPerView: 1.25,
      spaceBetween: 20
    },
    1024: {
      slidesPerView: 2,
      spaceBetween: 20
    }
  }
});


</script>