<!-- brands -->

<!-- ======= Brand Section ======= -->
<section id="skills">
<div class="bg-light pt-2 mt-5 pt-5">
  <div class="container">
    <header class="section-header">
      <h2>OUR SKILLS</h2>
      <p>
        We Work on latest Technologies of industry for robust fast and
        attractive Services
      </p>
    </header>

    <div class="row mb-3">
      <div class="col-6 col-md-3 mb-3" data-aos="zoom-in" data-aos-delay="100">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/py.png" />
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="200">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/dj.png" />
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="300">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/php.png" />
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="400">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/laravel.png" />
        </div>
      </div>
    </div>
    <!-- end -->
    <div class="row mb-3">
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="500">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/bootstrap.png" />
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="600">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/docker.png" />
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="700">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/poste.png" />
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="800">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/maria.png" />
        </div>
      </div>
    </div>
    <!-- END -->

    <div class="row mb-3">
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="100">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/mysql.png" />
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="200">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/jq.png" />
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="300">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/css.png" />
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="zoom-in" data-aos-delay="400">
        <div class="card shadow brand-box">
          <img src="/static/codefyn-5.0/images/services/brand/java.png" />
        </div>
      </div>
    </div>

    <!-- END -->
  </div>
</div>
</section>