<section class="">
<div class="container">
  <div class="row">
  <div class="col-md-12 mb-5">
  <div class="text-center pt-5">
      <h2 class="fw-bold text-muted ">
        Price <span class="text-danger">Table</span>
      </h2>
      <span class="line-bar fw-bold">...</span>
     </div>
     </div>
     <!-- Purple Table -->
     <div class="col-md-4">
        <div class="pricing-table purple">
           <!-- Table Head -->
           <div class="pricing-label">Fixed Price</div>
           <h2>Basic Pack</h2>
           <h5>Made for start up</h5>
           <!-- Features -->
           <img src="/static/codefyn-5.0/images/services/price/webbuild.svg" height="200"/>
           <div class="pricing-features">
              <div class="feature"> Comprising Responsive & SEO Friendly.Price starting from – </div>
           </div>
           <!-- Price -->
           <div class="price-tag">
              <span class="symbol"><i class="bi bi-currency-rupee"></i></span>
              <span class="amount">2999/-</span>
           </div>
           <!-- Button -->
           <a class="price-button" href="{% url 'services:static_sites' %}">Get Your Site</a>
        </div>
     </div>
     <!-- Turquoise Table -->
     <div class="col-md-4">
        <div class="pricing-table turquoise">
           <!-- Table Head -->
           <div class="pricing-label">Fixed Price</div>
           <h2>Extended Pack</h2>
           <h5>Made for experienced users</h5>
           <img src="/static/codefyn-5.0/images/services/price/webdev.svg" height="200"/>
           <!-- Features -->
           <div class="pricing-features">
              <div class="feature">Comprising Responsive & SEO Friendly.Price starting from</div>
           </div>
           <!-- Price -->
           <div class="price-tag">
              <span class="symbol"><i class="bi bi-currency-rupee"></i></span>
              <span class="amount">8999/-</span>
           </div>
           <!-- Button -->
           <a class="price-button" href="#">View Detail</a>
        </div>
     </div>
     <!-- Red Table -->
     <div class="col-md-4">
        <div class="pricing-table red">
           <!-- Table Head -->
           <div class="pricing-label">Fixed Price</div>
           <h2>Pros Pack</h2>
           <h5>Made for E-Commerce</h5>
           <img src="/static/codefyn-5.0/images/services/price/ecomm.svg" height="200"/>
           <!-- Features -->
           <div class="pricing-features">
              <div class="feature">Comprising Responsive & SEO Friendly.Price starting from</div>

           </div>
           <!-- Price -->
           <div class="price-tag">
              <span class="symbol"><i class="bi bi-currency-rupee"></i></span>
              <span class="amount">11999/-</span>
           </div>
           <!-- Button -->
           <a class="price-button" href="#">View Detail</a>
        </div>
     </div>

<!-- END -->
</div>
</section>

