

<!-- ======= services Section ======= -->
<section id="service">
<div class="pt-2 mt-3">
  <div class="container" data-aos="fade-left">
    <header class="section-header wow fadeInUp">
      <h2>Services</h2>
      <p>We Deliver quality services with Professionals.</p>
    </header>
    <div class="row mb-3">
      <div class="col-6 col-md-3 mb-3 "  data-aos="fade-left" data-aos-delay="100">
        <div class="card shadow box">
          <img src="/static/codefyn-5.0/images/services/static.svg" />
          <div class="card-body text-center">
            <p class="card-title pb-3">Website Development</p>
            <a
              href="{% url 'services:web_dev' %}"
              class="button"
              > Check Now</a
            >
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-3"  data-aos="fade-left" data-aos-delay="200">
        <div class="card shadow box">
          <img src="/static/codefyn-5.0/images/services/logodesign/logo_design.svg" />
          <div class="card-body text-center">
            <p class="card-title pb-3">Logo Designing</p>
            <a
              href="{% url 'services:logo_design' %}"
              class="button"
              > Check Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="fade-left" data-aos-delay="300">
        <div class="card shadow box">
          <img src="/static/codefyn-5.0/images/services/quick-commerce/quick-comerce.svg" />
          <div class="card-body text-center">
            <p class="card-title pb-3">Quick-Commerce</p>
            <a
              href="{% url 'services:quick_commerce' %}"
              class="button"
            >
             Check Now</a
            >
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-3"  data-aos="fade-left" data-aos-delay="400">
        <div class="card shadow box">
          <img src="/static/codefyn-5.0/images/services/software-development/softwared.svg" />
          <div class="card-body text-center">
            <p class="card-title pb-2">Software Development</p>
            <a href="{% url 'services:soft_dev' %}" class="button"
              > Check Now</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- END -->
    <div class="row mb-3">
      <div class="col-6 col-md-3 mb-3 "  data-aos="fade-left" data-aos-delay="100">
        <div class="card shadow box">
          <img src="/static/codefyn-5.0/images/services/graphics-design/graphics.svg" />
          <div class="card-body text-center">
            <p class="card-title pb-3">Graphics Designing</p>
            <a
              href="{% url 'services:graphics' %}"
              class="button"
              > Check Now</a
            >
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-3"  data-aos="fade-left" data-aos-delay="200">
        <div class="card shadow box">
          <img src="/static/codefyn-5.0/images/services/logodesign/logo_design.svg" />
          <div class="card-body text-center">
            <p class="card-title pb-3">Domain Registry</p>
            <a
              href="{% url 'services:domain_booking' %}"
              class="button"
              > Check Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-3"  data-aos="fade-left" data-aos-delay="300">
        <div class="card shadow box">
          <img src="/static/codefyn-5.0/images/services/quick-commerce/quick-comerce.svg" />
          <div class="card-body text-center">
            <p class="card-title pb-3">Digital Marketing</p>
            <a
              href="{% url 'services:digital_marketing' %}"
              class="button"
            >
             Check Now</a
            >
          </div>
        </div>
      </div>

      <div class="col-6 col-md-3 mb-3"  data-aos="fade-left" data-aos-delay="400">
        <div class="card shadow box">
          <img src="/static/codefyn-5.0/images/services/seo/seo.svg" />
          <div class="card-body text-center">
            <p class="card-title pb-2">SEO</p>
            <a href="{% url 'services:seo' %}" class="button"
              > Check Now</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- END -->
  </div>
</div>
</section>
