<!-- slider -->
<section id="slider" class="slider">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-xl-5">
              <div class="text-container">
                <ul class="d-block d-md-none">
                  <li class=""> <marquee behavior="scroll" direction="left">
                    Upto <span class="text-danger">50% </span><span class="text-warning">Discount </span> In Web Development Services...!</marquee>
                  </li>
                </ul>
                  <div class="slider-title">Welcome to Codefyn</div>
                  <h1 class="h1-large"><span class="text-danger">100%  </span>RESPONSIVE
                    <spam class="text-success">&</spam><span class="text-primary">  SEO</span>
                    <span class="text-warning">  FRIENDLY </span> <span class="text-success">
                      Quality </span> <span class="text-muted"> Website Design
                  </span><span class="text-info">In <span class="test-success">Low Price</span></h1>
                  <p class="p-large">A Perfect solution
                    for your small & medium business</p>
                  <a class="btnlg" href="tel:+917992200751">Call : + 917992200751 </a>

              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-lg-6 col-xl-7">
              <div class="image-container">
                  <img class="img-fluid" src="/static/codefyn-5.0/images/webdev.jpg" alt="alternative">
              </div> <!-- end of image-container -->
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</section> <!-- end of slider -->
<!-- end of slider -->

